img{
	width:100%;
}
#progress-bar{
	 width: 100%;
    height: 20px;
    background: #ddd;
    border: 1px solid darkslategrey;
}
#progress{
width: 0%;
    height: 20px;
    background: #f45858;
   	
}
#controls{
	position: absolute;

    display: flex;
    justify-content: center;
    top: 85%;
    left: 0;
    right: 0;
}
#controls a{
	color:  #f45858;
	margin-left:20px;
}